body{
background-image:url("bckgrnd.png");
}
.header{
 width:1130px; height:107px;background-color:#ffffff;border-bottom-right-radius: 1em;
   border-bottom-left-radius: 1em;            
}
.image{
 background: -webkit-linear-gradient(white,#408451, #355924);                   
  -webkit-background-clip: text;                 
   -webkit-text-fill-color: transparent;                 
   font-family:arial;  font-size:30px; margin-top: 12px;               
}
.part3{
  height:70px;background-image:url("bckgrnd2.png"); background-repeat:no-repeat;
  padding-left:120px;                    
}
.part3 a{
 color:#7a4e4c; text-decoration:underline;size:20px;
}
ul.lists li{
 list-style-type: none; display:inline;margin-left: 0px;color:white;font-size: 17px;
 font-family: comic-sans-ms;  padding-left: 0px; border-right:1px solid white;  width:500px;           
 padding-right: 15px;
}                 
.list{
 background: linear-gradient(#a07270,#7a4e4c);
 border-bottom-right-radius: 1em;
 border-bottom-left-radius: 1em;margin-top: 10px;width:1128px;height:26px;margin-left: 0px;
  padding-top: 2px; text-align: left;                
 }
.middle1{
 margin-top:6px; height:990px;border-top-left-radius: 1em; border-bottom-left-radius: 1em;             
  background-color: #ffffff; padding-left: 7px;               
}
.middle2{
 margin-top: 6px;border-top-right-radius: 1em;border-bottom-right-radius: 1em;                  
 height:900px;padding-right:0px; padding-left:0px;              
 }
.inner1{
height:606px;background-color:#ffffff; padding-right: 0px;
}
.inner2{
 height:606px;background-color:#ffffff;padding-right:5px;margin-right: 5px;
  border-bottom-right-radius: 1em; width:270px;               
}
ul.bullet {
 list-style-image: url(leaf.png);
}
.head{
 border:2px solid #7a4e4c; height:210px;padding-left: 0px; margin-top: 8px; margin-left: 34px;            
   width:220px;             
}
.color{
 width:218px;height:28px; background-color: #7a4e4c; font-family: pebbles;             
 color:white;font-size: 20px;text-decoration: bold;padding-left: 5px;               
}
.para{
 font-size:13px;
  padding-top:7px;
}
.para2{
 font-size:13px;
padding-top:7px;
}
#anotherlist{
  padding-left: 17px;
}
.products{
  width:264px;height:30px;background-color: #7a4e4c;color:white;text-decoration: bold;
  padding-left: 5px;              
}
.head1{
  border:2px solid #7a4e4c;height:280px;padding-left: 0px;margin-top: 5px;margin-right:10px;
 margin-bottom: 5px;width:265px;
}
.head2{
 border:2px solid #7a4e4c; height:197px;padding-left: 0px;margin-top: 5px;
 margin-right:10px;border-top: none;border-bottom:none;width:265px;margin-bottom: 9px;
}
.head3{
 border:2px solid #7a4e4c;height:330px;width:265px;
 }
.tail1{
  border:2px black solid;
}
 .common{
 height:123px;border-right:1px solid #e3e5e8; padding-top:30px;
}