       .header{
      	border:2px solid #e3e5e8;
      	height:50px;
      	border-left:none;

      }
      .body1{
      	border:2px solid #e3e5e8;
      	border-left:none;
            height:200px;


      }
      .body2{
      	border:2px solid #e3e5e8;
      	height:200px;
      	border-left:none;
            padding-left: 40px;
            padding-top:60px;
      }
      a{
            cursor:pointer;
      }
